<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="/assets/css/styles.css">

    <title>Dashboard</title>
</head>
<body>
    <div class="login">
        <img src="/assets/img/login-bg.png" alt="login image" class="login__img">
        
        <form action="/users/dashboard" method="POST" class="login__form" style="border: none; background-color: inherit;">
            <h1 class="login__title">
                Welcome <%= user %>
            </h1>

           <button class="login__button" type="button" onclick="location.href='/users/login'">Logout</button>

        </form>

    </div>
    

    
    

    <!--=============== MAIN JS ===============-->
    <script src="/assets/js/main.js"></script>
</body>
</html>