 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>Home</title>
 </head>
 <body>
   <div class="login">
      <img src="/assets/img/after3pm_1.jpg" alt="login image" class="login__img">

      <form action="/" method="POST" class="login__form" style="border: none; background-color: inherit;">
         

        <button class="login__button" type="button" onclick="location.href='/users/login'">Login</button>

     </form>
   </div>
 </body>
 </html>